.container {
  /* display config */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  /* box model */
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;

  /* design */
  text-align: left;
}

#card {
  width: 80%;
  transition: all .2s ease-in-out;
  margin-bottom: 60px;
}

#card h5 {
  margin: 0;
}

#card:hover {
  transform: scale(1.0125);
}

#imageDiv {
  height: 280px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (min-width: 676px) {
  #card {
  width: 70%;
  }
}

@media screen and (min-width: 768px) {
  #card {
  width: 45%;
  }
  #card h5 {
    font-size: 24px;
  }
  .container {
    width: 90%;
  }
}


@media screen and (min-width: 1200px) {
  #card {
  width: 30%;
  }
}


@media screen and (min-width: 2000px) {
  #card {
  width: 22%;
  }
}
