.navbar {
  /* display config */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* box model */
  width: 100%;
  padding: 20px;
  border: white solid 2px;

  /* design */
  background-color: burlywood;
}

.navbar a {
  margin: 0 10px;
}

@media screen and (min-width: 768px) {
  #siteTitle {
    font-size: 50px;
  }
}

@media screen and (min-width: 992px) {
  #siteTitle {
    font-size: 60px;
  }
}
